<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功！</title>
    <style>
        .success {
            width: 300px;
            height: 200px;
            background: #E2C3C3;
            margin: 100px auto;
            text-align: center;
            line-height: 200px;
        }

        #btn {
            margin: 25px auto;
            padding: 10px;
            font-size: 15px;
            border: none;
            background: #E2C3C3;
            text-align: center;
            line-height: 20px;
            display: block;
            width: 150px;
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="success">
        <%=message%>
        <a href="/user/login" id="btn">去登陆</a>
    </div>
    
</body>

</html>