*{
    padding: 0;
    margin: 0;
}
.content{
    text-align: left;
    margin-top: 20px;
    display: flex;
}
.blog-box{
    height: 200px;
    background: #cccccc;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.blog-box:first-child{
    margin-top: 0;
}
.blog-title,.blog-content,.post-time,.read-count{
    margin: 20px 0;
}
.read-count{
    margin-left: 100px;
}
#btn{
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    border: none;
    background: #E2C3C3;
    text-align: center;
    line-height: 20px;
    display: block;
    width: 150px;
    color: black;
}
.content a{
    color: black;
}
.sidebar{
    width: 220px;
    
}
.sidebar h3,ul,li{
    margin: 10px 0;
}
.blog-list{
    flex: 1;
    margin-right: 30px;
}